server {
    listen 80 default_server;
    listen 443 default_server ssl;

    include /etc/nginx/partials/ssl.conf;

    return 444;
}

resolver 127.0.0.11 valid=30s;

include /etc/nginx/services/app.conf;
include /etc/nginx/services/minio.conf;
